.objectAttr {
    cursor: pointer;
    pointer-events: none;
    font-size: 14px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.objectAttrSubscript {
    font-size: 10px;
}