.objectRect {
    /* fill: #FFFDE0; */
    fill: #8118ec;
    stroke: black;
    stroke-width: 1;
    pointer-events: all;
    cursor: move;
}

.shadowObjectRect {
    fill: #FFFDE080;
    stroke: black;
    stroke-dasharray: 2.5, 2.5;
    stroke-width: 1;
    pointer-events: all;
    cursor: move;
}

.objectBisectLine {
    stroke: black;
    /* stroke: #8ecae6; */
    stroke-width: 1;
    pointer-events: none;
}

.objectName {
    fill: #8ecae6;
    text-anchor: middle;
    cursor: pointer;
    pointer-events: none;
    font-size: 17px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.resize.relAttach {
    stroke: transparent;
    fill: transparent;
    stroke-width: 7;
    pointer-events: all;
}

.resize,
.edit {
    stroke: transparent;
    fill: transparent;
    stroke-width: 7;
    pointer-events: all;
}

.ewResize {
    cursor: ew-resize
}

.nsResize {
    cursor: ns-resize
}

#attrList {
    height: 170px;
    max-height: 170px;
    overflow-y: auto;
    overflow-x: hidden;
}