.paperBase {
    /* fill: #F5FBD5; */
    /* fill: #023047; */
    pointer-events: all;
}

.axis line {
    fill: none;
    stroke: #ddd;
    opacity: 0.25;
    shape-rendering: geometricPrecision;
    pointer-events: none;
}

.axis line:nth-child(4n+1) {
    stroke: #B2D2A1;
    opacity: 0.3;
}

.axis line:nth-child(16n+1) {
    stroke: #9AC484;
    opacity: 0.35;
}

.antLine {
    fill: none;
    stroke: #8ecae6;
    stroke-dasharray: 2.5, 2.5;
}