.relationship {
    /* stroke: black; */
    stroke: #8ecae6;
    stroke-width: 1;
    pointer-events: all;
}

.relAnchor {
    cursor: move;
}

.relGlyph {
    fill: none;
}

.relBoxAssist {
    fill-opacity: 0;
    stroke-opacity: 0;
}

.relPhrase {
    /* fill: #8ecae6; */
    stroke: none;
    cursor: move;
}

.relName {
    fill: #8ecae6;
    font-size: 20px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    stroke: none;
    cursor: move;
}

.relLine {
    fill: none;
    stroke: #8ecae6;
    /* stroke: black; */
    stroke-width: 1.0;
}

.relLineAssist {
    fill-opacity: 0;
    stroke-opacity: 0;
    stroke-width: 20.0;
}

.edit.relAttach {
    cursor: move;
}

.resize.relAttach {
    stroke: transparent;
    fill: transparent;
    stroke-width: 7;
    pointer-events: all;
}